{% extends "base.html" %}

{% load wagtailcore_tags static%}

{% block body_class %}template-aboutpage index{% endblock %}

{% block content %}
{% include "home/index_banner.html" %}
<div class="container panel-body">
    <div class="row">
        <div class="col-lg-12">
            <hr class="section-heading">
            <div id="exTab2" style="padding-top: 40px;"> 
            <ul class="nav nav-tabs">
                <li class="active"><a  href="#1" data-toggle="tab">Professional</a></li>
                <li><a href="#2" data-toggle="tab">Personal</a></li>
                <li><a href="#3" data-toggle="tab">CV</a></li>
            </ul>
            </div>
            <div class="tab-content ">
                <div class="tab-pane active" id="1">
                    {{ page.body_professional|richtext}}
                </div>
                <div class="tab-pane content" id="2">
                    {{ page.body_personal|richtext}}
                </div>
                <div class="tab-pane" id="3">
                    <h2>Curriculum Vitae</h2>
                    <p>If the embedded PDF doesn't display correctly, you can either install the PDF viewer plugin for your browser, e.g. <a href="https://chrome.google.com/webstore/detail/pdf-viewer/oemmndcbldboiebfnladdacbdfmadadm?hl=en">PDF Viewer for Chrome</a>, or try another browser. Alternatively, you can download my CV directly from <a href="/documents/1/OB_CV_public.pdf">here</a>.</p>
                    <p><object data="/documents/1/OB_CV_public.pdf" type="application/pdf" width="100%" height="800px"></object></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "home/bottom_banner.html" %} 
{% endblock %}

