{% extends "base.html" %}

{% load wagtailcore_tags static%}

{% block body_class %}template-contactpage{% endblock %}



{% block content %}
<div class="index-banner">
    <div class="container">
    <div class="row">
                <div class="col-lg-3 col-lg-offset-1 col-sm-6">
                    <img class="img-responsive" src="{% static "img/hello.png" %}" alt="">
                </div>
                <div class="col-lg-7 col-sm-6 col-lg-offset-1">
                    
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Contact</h2>
                    <p class="lead">There are lots of ways to get in touch with me. Feel free to say hello, and I'll do my best to get back to you quickly.</p>
                </div>
            </div>
    </div>
</div>
<div class="container panel-body">
    <div class="row">
        <div class="col-lg-12">
            <hr class="section-heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <div class="form-area">  
                            <form role="form" action="https://formspree.io/oliverbazely@gmail.com" method="POST">
                            <br style="clear:both">
                            <h3 style="margin-bottom: 25px; text-align: center;">Send me an email now:</h3>
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
                            </div>
                            <div class="form-group">
                             <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
                            </div>
                            <div class="form-group">
                            <textarea class="form-control" type="textarea" id="message" placeholder="Message" maxlength="140" rows="7"></textarea>                   
                            </div>
                            <button type="submit" id="submit" value="Send" name="submit" class="btn btn-primary pull-right">Send Email</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-1 col-sm-6"></div>
                    <div class="col-lg-6 col-sm-6 text-center">
                     <br style="clear:both">
                    <h3 style="margin-bottom: 25px; text-align: center;">Contact me elsewhere:</h3>
                        <div class="btn-group btn-matrix">
                            <a type="button" class="btn btn-default col-md-5" href="https://github.com/geonaut"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            <a type="button" class="btn btn-default col-md-5" href="https://www.linkedin.com/in/oliver-bazely-70960136/"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            <a type="button" class="btn btn-default col-md-5" href="https://twitter.com/_geonaut"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            <a type="button" class="btn btn-default col-md-5" href="http://stackoverflow.com/users/3779530/geonaut"><i class="fa fa-stack-overflow fa-fw"></i> <span class="network-name">StackOverflow</span></a>
                            <a type="button" class="btn btn-default col-md-5" href="http://codepen.io/geonaut/"><i class="fa fa-codepen fa-fw"></i> <span class="network-name">CodePen</span></a>
                            <a type="button" class="btn btn-default col-md-5" href="https://www.instagram.com/_geonaut/"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
                        </div>
                     <br style="clear:both">
                    <h3 style="margin-bottom: 15px; margin-top: 85px; text-align: center;">Contact me directly:</h3>
                    <p style="text-align: center;"><img class="img-responsive center-block" style="width: 40%"; src="{% static "img/email.png" %}" alt=""></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "home/bottom_banner.html" %} 
{% endblock %}

