{% load wagtailcore_tags static wagtailimages_tags%}
<div class="index-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-lg-offset-1 col-sm-6">
                {% image self.header_image width-263 as img %}
            <img class="media-object img-responsive project-header-image" src="{{ img.url }}"/>
            </div>
            <div class="col-lg-7 col-sm-6 col-lg-offset-1">
                <div class="clearfix"></div>
                 <h2 class="section-heading">{{ self.title }}</h2>
                <p class="lead">{{ self.body|richtext }}</p>
            </div>
        </div>
    </div>
</div>