{% extends "base.html" %}

{% load wagtailcore_tags static%}

{% block body_class %}template-aboutpage index{% endblock %}



{% block content %}
<div class="index-banner">
 <div class="container">
            <div class="row">
                <div class="col-lg-3 col-lg-offset-1 col-sm-6">
                    <img class="img-responsive" src="{% static "img/spanner.png" %}" alt="">
                </div>
                <div class="col-lg-7 col-lg-offset-1">
                    
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Projects</h2>
                    <p class="lead">Over the years, I have worked on a variety of projects, ranging from my Ph.D, to some local journalism and learning Portuguese. I've categorised them for convenience below, or you can take a look at my blog to see some of the more recent activities.</p>
                </div>
            </div>

        </div>
        </div>

    <div class="container panel-body">
            <div class="row">
                <div class="col-lg-12">
                <hr class="section-heading">
    <div class="container" style="padding-top: 40px;">

      <!-- Three columns of text below the carousel -->
      <div class="row" style="text-align:center;">
        <div class="col-lg-4 col-centered">
          <img class="img-circle" src="{% static "img/code.png" %}" alt="Generic placeholder image" width="140" height="140">
          <h2>Programming</h2>
          <p>I've worked with PHP and Python. At the moment, I'm using Django to build websites. I also use things like Ansible to automatically construct webservers, based on Ubuntu Linux and hosted on AWS.</p>
          <p><a class="btn btn-default" href="#" role="button">View projects »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 col-centered">
          <img class="img-circle" src="{% static "img/ukas.png" %}" alt="Generic placeholder image" width="140" height="140">
          <h2>InfoSec</h2>
          <p>I've setup information security and quality management systems, following ISO27001, ISO9001 and PCI-DSS. I've also worked with penetration testing and secure hosting.</p>
          <p><a class="btn btn-default" href="#" role="button">View projects »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 col-centered">
          <img class="img-circle" src="{% static "img/dino.png" %}" alt="Generic placeholder image" width="140" height="140">
          <h2>Personal</h2>
          <p>I have worked with GIS, data analysis, sedimentology and lots of other geoscientific techniques. I also maintained a blog about Rio de Janeiro and wrote for the Rio Times newspaper.</p>
          <p><a class="btn btn-default" href="#" role="button">View projects »</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div>
    </div>
</div>
</div>
{% include "home/bottom_banner.html" %} 
{% endblock %}

