{% extends "base.html" %}

{% load wagtailcore_tags static%}

{% block body_class %}template-projectspage index{% endblock %}



{% block content %}
<div class="index-banner">
 <div class="container">
            <div class="row">
                <div class="col-lg-3 col-lg-offset-1 col-sm-6">
                    <img class="img-responsive" src="{% static "img/cogs2.png" %}" alt="Projects">
                </div>
                <div class="col-lg-7 col-sm-6 col-lg-offset-1">
                    
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Projects</h2>
                    <p class="lead">Over the years, I have worked on a variety of projects, ranging from my Ph.D, to some local journalism and learning Portuguese. I've categorised them for convenience below, or you can take a look at my blog to see some of the more recent activities.</p>
                </div>
            </div>

        </div>
        </div>

    <div class="container panel-body">
            <div class="row" style="text-align:center;">
                <div class="col-lg-12">
                <hr class="section-heading">
              <div class="container" style="padding-top: 40px;">
      <!-- Three columns of text below the carousel -->
      <div class="row projects-row" >
        <div class="col-lg-4 col-centered project-column">
          <img class="img-circle" src="{% static "img/code.png" %}" alt="Generic placeholder image" width="140" height="140">
          <h2>Programming</h2>
          <p>I've worked with PHP and Python. At the moment, I'm using Django to build websites. I also use things like Ansible to automatically construct webservers, based on Ubuntu Linux and hosted on AWS.</p>
          <p><a class="btn btn-default" href="/projects/programming-projects/" role="button">View projects »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 col-centered project-column">
          <img class="img-circle" src="{% static "img/ukas.png" %}" alt="Generic placeholder image" width="140" height="140">
          <h2>Information Security</h2>
          <p>I've setup information security and quality management systems, following ISO27001, ISO9001 and PCI-DSS. I've also worked with penetration testing and secure hosting.</p>
          <p><a class="btn btn-default" href="/projects/infosec-projects/" role="button">View projects »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 col-centered project-column">
          <img class="img-circle" src="{% static "img/ubuntu.png" %}" alt="Generic placeholder image" width="140" height="140">
          <h2>DevOps</h2>
          <p>I'm a big fan of Open Source Software, and use a lot of OSS when building websites. I've mostly use Ubuntu and CentOS. I like to use orchestration software like Ansible, AWS and Vagrant.</p>
          <p><a class="btn btn-default" href="/projects/devops-projects/" role="button">View projects »</a></p>
        </div><!-- /.col-lg-4 -->
        </div>
          <div class="row projects-row" >
        <div class="col-lg-4 col-centered project-column">
          <img class="img-circle" src="{% static "img/dino.png" %}" alt="Generic placeholder image" width="140" height="140">
          <h2>Geoscience</h2>
          <p>During my Ph.D, I worked with GIS, data analysis, sedimentology and lots of other geoscientific techniques. I've posted some examples of this work, as well as my Ph.D thesis.</p>
          <p><a class="btn btn-default" href="/projects/geoscience-projects/" role="button">View projects »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 col-centered project-column">
          <img class="img-circle" src="{% static "img/brazil.png" %}" alt="Generic placeholder image" width="140" height="140">
          <h2>Brazil</h2>
          <p>I lived in Brazil for a few years, and learned Brazilian Portuguese. I also maintained a blog about Rio de Janeiro and wrote for the Rio Times newspaper. You can read those articles on this site.</p>
          <p><a class="btn btn-default" href="/projects/brazilian-projects/" role="button">View projects »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 col-centered project-column">
          <img class="img-circle" src="{% static "img/djangogirls.png" %}" alt="Generic placeholder image" width="140" height="140">
          <h2>Personal</h2>
          <p>For anything that doesn't fit elsewhere, I've created a personal category. I like to get involved with community projects, such as DjangoGirls, and I volunteered with the WOOFing scheme.</p>
          <p><a class="btn btn-default" href="/projects/personal-projects/" role="button">View projects »</a></p>
        </div><!-- /.col-lg-4 -->
        </div>
      </div><!-- /.row -->
    </div>
    </div>
</div>
</div>
{% include "home/bottom_banner.html" %} 
{% endblock %}

