ALLOWED_HOSTS = []

INTERNAL_IPS = []

# DEBUG_TOOLBAR_PATCH_SETTINGS = False

# def show_toolbar(request):
#     return True
# DEBUG_TOOLBAR_CONFIG = {
#     "SHOW_TOOLBAR_CALLBACK" : show_toolbar,
# }