{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
{% include "home/top_banner.html" %} 
    <div class="container panel-body">
        <div class="row">
            <div class="col-lg-12">
                <h1>{{ page.title }}</h1>
                <p class="meta">{{ page.date }}</p>
                {% if page.tags.all.count %}
                <div class="tags">
                    <p>Tags:
                    {% for tag in page.tags.all %}
                        <a href="{% slugurl 'tags' %}?tag={{ tag }}">
                        {% if forloop.last %}
                            {{ tag }}
                        {% else %}
                            {{ tag }},
                        {% endif %}
                        </a>
                    {% endfor %}
                    </p>
                </div>
                {% endif %}
                {{ page.body|richtext }}
               <!--  {% for item in page.gallery_images.all %}
                    <div style="float: left; margin: 10px">
                        {% image item.image fill-320x240 %}
                        <p>{{ item.caption }}</p>
                    </div>
                {% endfor %} -->
                <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>
            </div>
        </div>

<div id="disqus_thread" class="disqus-panel"></div>
<script>
/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = {{ page.url }};  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = {{ page.slug }}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://geonaut-co-uk.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
{% include "home/bottom_banner.html" %} 
{% endblock %}