{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
<div class="index-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>{{ page.title }}</h1>
                <p class="meta">{{ page.date }}</p>
                {% if page.tags.all.count %}
                <div class="tags">
                    <p>Tags:
                    {% for tag in page.tags.all %}
                        <a href="{% slugurl 'tags' %}?tag={{ tag }}">
                        {% if forloop.last %}
                            {{ tag }}
                        {% else %}
                            {{ tag }},
                        {% endif %}
                        </a>
                    {% endfor %}
                    </p>
                </div>
                {% endif %}
                {{ page.body|richtext }}
               <!--  {% for item in page.gallery_images.all %}
                    <div style="float: left; margin: 10px">
                        {% image item.image fill-320x240 %}
                        <p>{{ item.caption }}</p>
                    </div>
                {% endfor %} -->
                <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}